extends layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/product.css")

block content
    main 
        form.product-form(action='/add-user', method="POST")
            .form-control 
                input(type="text", name="title")#title
            button.btn(type="submit") Add User 